// GLOBAL DECLARATIONS
// Palette
$title:#041552;
$subtitle:#97949D;
$button:#B19027;
$hover:#D5BC20;
$accent: #69050C;

.header {
    background-image: url('https://images.unsplash.com/photo-1555414244-80c33ca2e497?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=1770');
}

button {
    background-color: $button;

    &:hover{
        background-color: $hover;
    }
    &:active{
        background-color: $hover;
    }
}